<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let city of cities">
            <app-weather [cityName]="city" (cityClick)="handleCityClick($event)"></app-weather>
        </div>
        <div class="col-md-4 mb-4">
            <div class="new-city">
                <div class="mb3">
                    <label for="new-city-name" class="form-label">New City : </label>
                    <input type="text" id="new-city-name" class="form-control" #newCity placeholder="Eg: Madrid" />
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary" (click)="addNewCity(newCity.value)" aria-label="Add New City Button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>