<div>
    <div *ngIf="data != null && error == null" class="weather-container cursor-pointer" (click)="handleClick()">
        <div class="city-weather">
            <div class="city-country">
                <div class="city">{{ data?.name }}</div> <div class="country">({{ data?.sys?.country }})</div>
            </div>
            <div class="temperature">{{ data?.main?.temp }}°C</div>
            <img *ngIf="getWeatherIconURL() != null" class="weather-icon" [src]="getWeatherIconURL()"  />
            <div class="humidity">{{ data?.main?.humidity }}%</div>
            <div class="wind-speed">{{ data?.wind?.speed }}</div>
        </div>
    </div>
    <div *ngIf="error != null" class="weather-container text-danger">
        Data cannot be retrieved from the server.<br />
        Error: {{ error }}
    </div>
      
</div>