<div class="modal-header">
    <h5 class="modal-title">Weather Forecast</h5>
</div>
  <div class="modal-body">
    <div *ngIf="data != null && error == null" class="weather-container" [attr.aria-label]="'{{ name }}\'s forecast weather'">
      <img *ngIf="getWeatherIconURL(data.current.weather[0].icon) != null" class="weather-icon" [src]="getWeatherIconURL(data.current.weather[0].icon)"  />
  
      <div class="city-name">{{ name }}</div>
      <div class="line-height-condenced text-muted text-tiny">
        <div>Updated at:</div>
        <div class="font-weight-semibold">{{ data.current.dt | unixTimestamp: 'datetime' }}</div>
      </div>
  
      <div class="mt-4 text-tiny">
        <div class="font-weight-semibold">Forecast (Next 5 Hours)</div>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Temp</th>
            <th scope="col">Wind Speed</th>
            <th scope="col">Icon</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let hourly of data?.hourly?.slice(1, 6)">
            <td>{{ hourly.dt | unixTimestamp: 'time' }}</td>
            <td>{{ hourly.temp  }}°C</td>
            <td>{{ hourly.wind_speed }}m/s</td>
            <td><img *ngIf="getWeatherIconURL(hourly.weather[0].icon) != null" class="weather-forecast-icon" [src]="getWeatherIconURL(hourly.weather[0].icon)"  /></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div *ngIf="error != null" class="weather-container text-danger">
      Data cannot be retrieved from the server.<br />
      Error: {{ error }}
    </div>